.contain{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    .driver{
        width: 100%;
        height: 100%;
        .mapContainer{
            height: 60%;
            width: 100%;
            position: relative;
            .maps{
                height: 100%;
                width: 100%;
            }
            .marker{
                width: 35px;
                height: 55px;
                position: absolute;
                left: 50%;
                margin-left: -17px;
                top: 50%;
                margin-top: -27px;
            }
            .location{
                width: 69px;
                height: 69px;
                position: absolute;
                right: 18px;
                bottom: 27px;
            }
        }
    }
    .runman{
        width: 100%;
        height: 100%;
        .maps{
            height: 45%;
            width: 100%;
        }
    }
    
}